.version.about /* version checker */
{
	color: #0000E6;
	background-color: #07CA2B;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 478px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 22px;
	width: 100%;
	max-width: 1800px;
	margin-left: auto;
	margin-right: auto;
}

#pu12000
{
	z-index: 90;
	margin-right: -10000px;
	margin-top: -137px;
	width: 99.73%;
	margin-left: 0.06%;
}

#u12000
{
	z-index: 90;
	position: relative;
	width: 100%;
}

#u6144
{
	z-index: 93;
	margin-bottom: -29px;
	position: relative;
	margin-right: -10000px;
	margin-top: -58px;
	width: 34.21%;
	left: 33.1%;
}

#u10462
{
	z-index: 33;
	width: 60px;
	min-height: 60px;
	margin-top: 104px;
	position: relative;
	margin-left: 1.51%;
}

#pu11993
{
	z-index: 34;
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: -100px;
	margin-left: 89px;
}

#u11993
{
	z-index: 34;
	width: 250px;
	min-height: 31px;
	margin-left: 24px;
	position: relative;
}

#u11956
{
	z-index: 92;
	width: 1239px;
	min-height: 40px;
	margin-left: 190px;
	margin-top: 79px;
	position: relative;
}

#pu11287
{
	z-index: 91;
	width: 0.01px;
	margin-top: 167px;
}

#u11287
{
	z-index: 91;
	width: 40px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 182px;
}

#u10181
{
	z-index: 35;
	width: 1280px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 167px;
}

#pamphletu10182
{
	z-index: 36;
	width: 0.01px;
	height: 802px;
	padding-bottom: 19px;
	position: relative;
	margin-right: -10000px;
}

#u10185
{
	position: absolute;
	width: 1280px;
	background-color: transparent;
}

#u10185popup
{
	z-index: 37;
}

#u10187
{
	z-index: 38;
	width: 1280px;
	height: 720px;
	border-width: 0px;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-right: -10000px;
	position: relative;
	background: #7F7F7F url("../images/fashion-man-person-beach-large.jpg?crc=4250478044") no-repeat center center;
	background-size: cover;
}

#u10186
{
	z-index: 39;
	width: 1280px;
	height: 720px;
	border-width: 0px;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-right: -10000px;
	position: relative;
	background: #7F7F7F url("../images/1280x720%20vincent%20meme%203.jpg?crc=4045956188") no-repeat center center;
	background-size: cover;
}

#u10188
{
	z-index: 40;
	width: 1280px;
	height: 720px;
	border-width: 0px;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-right: -10000px;
	position: relative;
	background: #7F7F7F url("../images/person-holiday-vacation-woman-large.jpg?crc=3922162110") no-repeat right top;
	background-size: cover;
}

#u10189
{
	z-index: 41;
	width: 1280px;
	height: 720px;
	border-width: 0px;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-right: -10000px;
	position: relative;
	background: #7F7F7F url("../images/sea-beach-holiday-vacation-large.jpg?crc=91167421") no-repeat center center;
	background-size: cover;
}

#u10344
{
	z-index: 42;
	width: 1280px;
	height: 720px;
	border-width: 0px;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-right: -10000px;
	position: relative;
	background: #7F7F7F url("../images/desktop%202.jpg?crc=89100174") no-repeat center center;
	background-size: cover;
}

#u10194
{
	z-index: 43;
	width: 1275px;
	position: relative;
	margin-right: -10000px;
	margin-top: 741px;
}

#u10198
{
	position: absolute;
	width: 253px;
	border-width: 0px;
	background-color: #1C935D;
	padding-top: 22px;
	padding-bottom: 19.000000000000227px;
	top: -19px;
}

#u10199-4
{
	z-index: 45;
	width: 245px;
	min-height: 35px;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u10200-3
{
	z-index: 49;
	width: 245px;
	min-height: 24px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	position: relative;
}

#u10195
{
	position: absolute;
	width: 253px;
	border-width: 0px;
	background-color: #1C935D;
	padding-top: 21px;
	padding-bottom: 20.000000000000227px;
	top: -19px;
	left: 256px;
}

#u10196-4
{
	z-index: 53;
	width: 245px;
	min-height: 35px;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u10197-3
{
	z-index: 57;
	width: 245px;
	min-height: 24px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	position: relative;
}

#u10201
{
	position: absolute;
	width: 253px;
	border-width: 0px;
	background-color: #1C935D;
	padding-top: 21px;
	padding-bottom: 20.000000000000227px;
	top: -19px;
	left: 513px;
}

#u10203-4
{
	z-index: 61;
	width: 245px;
	min-height: 35px;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u10202-3
{
	z-index: 65;
	width: 245px;
	min-height: 24px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	position: relative;
}

#u10204
{
	position: absolute;
	width: 253px;
	border-width: 0px;
	background-color: #1C935D;
	padding-top: 21px;
	padding-bottom: 20.000000000000227px;
	top: -19px;
	left: 770px;
}

#u10205-4
{
	z-index: 69;
	width: 245px;
	min-height: 35px;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u10206-3
{
	z-index: 73;
	width: 245px;
	min-height: 24px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	position: relative;
}

#u10198.PamphletThumbSelected #u10200-3,#u10195.PamphletThumbSelected #u10197-3,#u10201.PamphletThumbSelected #u10202-3,#u10204.PamphletThumbSelected #u10206-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 245px;
	margin: 0px;
}

#u10349
{
	position: absolute;
	width: 253px;
	border-width: 0px;
	background-color: #1C935D;
	padding-top: 19px;
	padding-bottom: 20px;
	top: -19px;
	left: 1027px;
}

#u10198.PamphletThumbSelected,#u10195.PamphletThumbSelected,#u10201.PamphletThumbSelected,#u10204.PamphletThumbSelected,#u10349.PamphletThumbSelected
{
	background-color: #22B573;
	width: 253px;
	min-height: 0px;
	margin: 0px;
}

#u10359-4
{
	z-index: 77;
	width: 245px;
	min-height: 35px;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u10198.PamphletThumbSelected #u10199-4,#u10195.PamphletThumbSelected #u10196-4,#u10201.PamphletThumbSelected #u10203-4,#u10204.PamphletThumbSelected #u10205-4,#u10349.PamphletThumbSelected #u10359-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 245px;
	margin: 0px;
}

#u10198.PamphletThumbSelected #u10199-4 p,#u10195.PamphletThumbSelected #u10196-4 p,#u10201.PamphletThumbSelected #u10203-4 p,#u10204.PamphletThumbSelected #u10205-4 p,#u10349.PamphletThumbSelected #u10359-4 p
{
	text-transform: uppercase;
}

#u10363-3
{
	z-index: 81;
	width: 245px;
	min-height: 24px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	margin-left: 3px;
	margin-top: 2px;
	position: relative;
}

#u10349.PamphletThumbSelected #u10363-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 245px;
	margin: 2px 0px 0px 3px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pmenuu97
{
	z-index: 2;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 61px;
	width: 69%;
	margin-left: 15.39%;
}

#menuu97
{
	z-index: 2;
	position: relative;
	width: 99.84%;
	margin-left: 0.09%;
}

#u98
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.84%;
}

#u101
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u101:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u101:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u102-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u101:hover #u102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u101:active #u102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u155
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.84%;
	left: 20%;
}

#u156
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u101.MuseMenuActive,#u156:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u156:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u157-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u101.MuseMenuActive #u102-4,#u156:hover #u157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u156:active #u157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u566
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.84%;
	left: 40%;
}

#u569
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u156.MuseMenuActive,#u569:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u569:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u571-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u156.MuseMenuActive #u157-4,#u569:hover #u571-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u569:active #u571-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1717
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.92%;
	left: 60%;
}

#u1718
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u569.MuseMenuActive,#u1718:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1718:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1719-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u569.MuseMenuActive #u571-4,#u1718:hover #u1719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1718:active #u1719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u10152
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.92%;
	left: 80.09%;
}

#u10155
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u1718.MuseMenuActive,#u10155:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u10155:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u10155.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u10157-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u1718.MuseMenuActive #u1719-4,#u10155:hover #u10157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u10155:active #u10157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u10155.MuseMenuActive #u10157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u10414-6
{
	z-index: 84;
	min-height: 434px;
	background-color: transparent;
	margin-top: 5px;
	position: relative;
	width: 100%;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 1259px);
}

.html
{
	background-color: #2AA5FF;
}

body
{
	position: relative;
	min-width: 320px;
	padding-top: 200px;
}

#u6144_img
{
	width: 100%;
}

