.version.combat /* version checker */
{
	color: #0000EA;
	background-color: #427868;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 438px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 62px;
	width: 100%;
	max-width: 1800px;
	margin-left: auto;
	margin-right: auto;
}

#pu12000
{
	z-index: 94;
	margin-right: -10000px;
	margin-top: -137px;
	width: 99.73%;
	margin-left: 0.06%;
}

#u12000
{
	z-index: 94;
	position: relative;
	width: 100%;
}

#u6144
{
	z-index: 116;
	margin-bottom: -29px;
	position: relative;
	margin-right: -10000px;
	margin-top: -58px;
	width: 34.21%;
	left: 33.1%;
}

#u10462
{
	z-index: 33;
	width: 60px;
	min-height: 60px;
	margin-top: 104px;
	position: relative;
	margin-left: 1.51%;
}

#pu11993
{
	z-index: 34;
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -100px;
	margin-left: 89px;
}

#u11993
{
	z-index: 34;
	width: 250px;
	min-height: 31px;
	margin-left: 24px;
	position: relative;
}

#u11956
{
	z-index: 115;
	width: 1239px;
	min-height: 40px;
	margin-left: 190px;
	margin-top: 79px;
	position: relative;
}

#u11287
{
	z-index: 114;
	width: 40px;
	min-height: 40px;
	margin-top: 349px;
	position: relative;
}

#pmenuu97
{
	z-index: 2;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 61px;
	width: 69.23%;
	margin-left: 15.45%;
}

#menuu97
{
	z-index: 2;
	position: relative;
	width: 99.52%;
}

#u98
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.84%;
}

#u101
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u101:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u101:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u102-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u101:hover #u102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u101:active #u102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u155
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.84%;
	left: 20%;
}

#u156
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u101.MuseMenuActive,#u156:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u156:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u157-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u101.MuseMenuActive #u102-4,#u156:hover #u157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u156:active #u157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u566
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.84%;
	left: 40%;
}

#u569
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u156.MuseMenuActive,#u569:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u569:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u571-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u156.MuseMenuActive #u157-4,#u569:hover #u571-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u569:active #u571-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1717
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.92%;
	left: 60%;
}

#u1718
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u569.MuseMenuActive,#u1718:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1718:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1719-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u569.MuseMenuActive #u571-4,#u1718:hover #u1719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1718:active #u1719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u10152
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.92%;
	left: 80.09%;
}

#u10155
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u1718.MuseMenuActive,#u10155:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u10155:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u10155.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u10157-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u1718.MuseMenuActive #u1719-4,#u10155:hover #u10157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u10155:active #u10157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u10155.MuseMenuActive #u10157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#pu3669-59
{
	z-index: 35;
	margin-top: 13px;
	width: 99.52%;
	margin-left: 0.49%;
}

#u3669-59
{
	z-index: 35;
	min-height: 468px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#menuu9962
{
	z-index: 95;
	width: 591px;
	position: relative;
	margin-right: -10000px;
	margin-top: 92px;
	left: 25.97%;
}

#u9977
{
	width: 591px;
	position: relative;
}

#u9980
{
	width: 591px;
	min-height: 17px;
	padding-bottom: 34px;
	position: relative;
	margin-right: -10000px;
}

#u9980:hover
{
	width: 591px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9980:active
{
	width: 591px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9981-4
{
	width: 591px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u9980:hover #u9981-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 591px;
	margin: 0px -10000px 0px 0px;
}

#u9980:active #u9981-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 591px;
	margin: 0px -10000px 0px 0px;
}

#u9964
{
	width: 591px;
	min-height: 17px;
	padding-bottom: 34px;
	position: relative;
	margin-right: -10000px;
}

#u9980.MuseMenuActive,#u9964:hover
{
	width: 591px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9964:active
{
	width: 591px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9965-4
{
	width: 591px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u9980.MuseMenuActive #u9981-4,#u9964:hover #u9965-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 591px;
	margin: 0px -10000px 0px 0px;
}

#u9964:active #u9965-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 591px;
	margin: 0px -10000px 0px 0px;
}

#u9963,#u9970
{
	width: 591px;
	margin-top: 2px;
	position: relative;
}

#u9973
{
	width: 591px;
	min-height: 17px;
	padding-bottom: 34px;
	position: relative;
	margin-right: -10000px;
}

#u9964.MuseMenuActive,#u9973:hover
{
	width: 591px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9973:active
{
	width: 591px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9973.MuseMenuActive
{
	width: 591px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9974-4
{
	width: 591px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u9964.MuseMenuActive #u9965-4,#u9973:hover #u9974-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 591px;
	margin: 0px -10000px 0px 0px;
}

#u9973:active #u9974-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 591px;
	margin: 0px -10000px 0px 0px;
}

#u9973.MuseMenuActive #u9974-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 591px;
	margin: 0px -10000px 0px 0px;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 1133px);
}

.html
{
	background-color: #2AA5FF;
}

body
{
	position: relative;
	min-width: 320px;
	padding-top: 200px;
}

#u6144_img
{
	width: 100%;
}

