.version.games /* version checker */
{
	color: #0000ED;
	background-color: #55A9D3;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	width: 100%;
	max-width: 1800px;
	margin-left: auto;
	margin-right: auto;
}

#u10094-3
{
	z-index: 46;
	min-height: 44px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 237px;
	width: 3.78%;
	left: -2.06%;
}

#u10452
{
	z-index: 35;
	width: 1751px;
	min-height: 884px;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	left: 22px;
}

#pu10462
{
	z-index: 36;
	margin-right: -10000px;
	margin-top: 64px;
	width: 3.51%;
	margin-left: 1.56%;
}

#u10462
{
	z-index: 36;
	width: 60px;
	min-height: 60px;
	position: relative;
}

#u10467
{
	z-index: 37;
	width: 50px;
	min-height: 25px;
	margin-top: 16px;
	position: relative;
	margin-left: 20.64%;
}

#pmenuu97
{
	z-index: 2;
	margin-right: -10000px;
	margin-top: 61px;
	width: 69%;
	margin-left: 15.34%;
}

#menuu97
{
	z-index: 2;
	position: relative;
	width: 99.84%;
	margin-left: 0.17%;
}

#u98
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.84%;
}

#u101
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u101:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u101:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u102-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u101:hover #u102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u101:active #u102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u155
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.84%;
	left: 20%;
}

#u156
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u101.MuseMenuActive,#u156:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u156:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u157-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u101.MuseMenuActive #u102-4,#u156:hover #u157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u156:active #u157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u566
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.84%;
	left: 40%;
}

#u569
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u156.MuseMenuActive,#u569:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u569:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u571-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u156.MuseMenuActive #u157-4,#u569:hover #u571-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u569:active #u571-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1717
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.92%;
	left: 60%;
}

#u1718
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u569.MuseMenuActive,#u1718:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1718:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1719-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u569.MuseMenuActive #u571-4,#u1718:hover #u1719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1718:active #u1719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u10152
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.92%;
	left: 80.09%;
}

#u10155
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u1718.MuseMenuActive,#u10155:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u10155:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u10155.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u10157-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u1718.MuseMenuActive #u1719-4,#u10155:hover #u10157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u10155:active #u10157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u10155.MuseMenuActive #u10157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1779-8
{
	z-index: 38;
	min-height: 476px;
	background-color: transparent;
	margin-top: 12px;
	position: relative;
	width: 99.84%;
}

#pamphletu8180
{
	z-index: 68;
	width: 0.01px;
	height: 144px;
	position: fixed;
	top: 3px;
	right: 1232px;
}

#u8181
{
	position: absolute;
	width: 1159px;
}

#u8181popup
{
	z-index: 69;
}

#u8182
{
	z-index: 70;
	width: 1159px;
	height: 144px;
	margin-right: -10000px;
	position: relative;
}

#pbuttonu8187
{
	z-index: 99;
	width: 0.01px;
	margin-right: -10000px;
}

#buttonu8187
{
	z-index: 99;
	width: 185px;
	height: 143px;
	position: relative;
	margin-right: -10000px;
}

#u8188-4
{
	z-index: 100;
	width: 122px;
	min-height: 24px;
}

#pbuttonu8187:hover #u8188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 122px;
	margin-top: 60px;
	left: 32px;
	min-height: 24px;
}

#u8189
{
	z-index: 104;
	width: 17px;
}

#pbuttonu8187:hover #u8189
{
	position: relative;
	margin-right: -10000px;
	width: 17px;
	margin-top: -8px;
	left: 84px;
	min-height: 0px;
}

#pbuttonu8187:active #u8189
{
	width: 17px;
	min-height: 0px;
}

#pbuttonu8192
{
	z-index: 90;
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 186px;
}

#buttonu8192
{
	z-index: 90;
	width: 185px;
	height: 143px;
	position: relative;
	margin-right: -10000px;
}

#u8195-4
{
	z-index: 91;
	width: 122px;
	min-height: 24px;
}

#pbuttonu8192:hover #u8195-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 122px;
	margin-top: 60px;
	left: 32px;
	min-height: 24px;
}

#u8193
{
	z-index: 95;
	width: 17px;
}

#pbuttonu8192:hover #u8193
{
	position: relative;
	margin-right: -10000px;
	width: 17px;
	margin-top: -8px;
	left: 84px;
	min-height: 0px;
}

#pbuttonu8187.ButtonSelected #u8189,#pbuttonu8192:active #u8193
{
	width: 17px;
	min-height: 0px;
}

#pbuttonu8183
{
	z-index: 72;
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 372px;
}

#buttonu8183
{
	z-index: 72;
	width: 185px;
	height: 143px;
	position: relative;
	margin-right: -10000px;
}

#u8186-4
{
	z-index: 73;
	width: 122px;
	min-height: 24px;
}

#pbuttonu8183:hover #u8186-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 122px;
	margin-top: 60px;
	left: 32px;
	min-height: 24px;
}

#u8184
{
	z-index: 77;
	width: 17px;
}

#pbuttonu8183:hover #u8184
{
	position: relative;
	margin-right: -10000px;
	width: 17px;
	margin-top: -8px;
	left: 84px;
	min-height: 0px;
}

#pbuttonu8192.ButtonSelected #u8193,#pbuttonu8183:active #u8184
{
	width: 17px;
	min-height: 0px;
}

#pbuttonu8196
{
	z-index: 81;
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 558px;
}

#buttonu8196
{
	z-index: 81;
	width: 185px;
	height: 143px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu8187:hover #buttonu8187,#pbuttonu8192:hover #buttonu8192,#pbuttonu8183:hover #buttonu8183,#pbuttonu8196:hover #buttonu8196
{
	width: 186px;
	height: 143px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u8199-4
{
	z-index: 82;
	width: 122px;
	min-height: 24px;
}

#pbuttonu8196:hover #u8199-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 122px;
	margin-top: 60px;
	left: 32px;
	min-height: 24px;
}

#pbuttonu8187.ButtonSelected #u8188-4,#pbuttonu8192.ButtonSelected #u8195-4,#pbuttonu8183.ButtonSelected #u8186-4,#pbuttonu8196.ButtonSelected #u8199-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
}

#pbuttonu8187 #u8188-4,#pbuttonu8192 #u8195-4,#pbuttonu8183 #u8186-4,#pbuttonu8196 #u8199-4
{
	position: relative;
	margin-right: -10000px;
	width: 122px;
	margin-top: 60px;
	left: 31px;
}

#u8197
{
	z-index: 86;
	width: 17px;
}

#pbuttonu8196:hover #u8197
{
	position: relative;
	margin-right: -10000px;
	width: 17px;
	margin-top: -8px;
	left: 84px;
	min-height: 0px;
}

#pbuttonu8183.ButtonSelected #u8184,#pbuttonu8196:active #u8197
{
	width: 17px;
	min-height: 0px;
}

#pbuttonu8196.ButtonSelected #u8197
{
	width: 17px;
	min-height: 0px;
}

#pbuttonu8187 #u8189,#pbuttonu8192 #u8193,#pbuttonu8183 #u8184,#pbuttonu8196 #u8197
{
	position: relative;
	margin-right: -10000px;
	width: 17px;
	margin-top: -8px;
	left: 83px;
}

#u8191
{
	z-index: 107;
	width: 413px;
	height: 144px;
	position: relative;
	margin-right: -10000px;
	left: 746px;
}

#u8279-4
{
	z-index: 108;
	min-height: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	width: 17.26%;
	left: 80.16%;
}

#u8207
{
	z-index: 112;
	width: 72px;
	padding-bottom: 144px;
	position: relative;
	margin-right: -10000px;
	left: 1159px;
}

#u8208
{
	width: 72px;
	padding-bottom: 57px;
	position: fixed;
	top: 3px;
	right: 1px;
}

#u8208.PamphletThumbSelected
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u8209
{
	z-index: 114;
	width: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 16px;
}

#u8208.PamphletThumbSelected #u8209
{
	width: 39px;
	min-height: 0px;
	margin: 55px -10000px 0px 0px;
}

#u8209_img
{
	margin-right: -1px;
}

#u8204
{
	position: absolute;
	width: 72px;
	padding-bottom: 42px;
	left: 1159px;
}

#u8205
{
	z-index: 117;
	width: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 5px;
}

#pu6144
{
	z-index: 33;
	margin-right: -10000px;
	margin-top: -195px;
	width: 34.12%;
	margin-left: 33.12%;
}

#u6144
{
	z-index: 33;
	position: relative;
	width: 100%;
}

#menuu9608
{
	z-index: 49;
	width: 591px;
	margin-top: 212px;
	position: relative;
	margin-left: 1.63%;
}

#u9609
{
	width: 591px;
	position: relative;
}

#u9610
{
	width: 591px;
	min-height: 17px;
	padding-bottom: 39px;
	position: relative;
	margin-right: -10000px;
}

#u9610:hover
{
	width: 591px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9610:active
{
	width: 591px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9612-4
{
	width: 591px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 19px;
}

#u9610:hover #u9612-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 591px;
	margin: 0px -10000px 0px 0px;
}

#u9610:active #u9612-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 591px;
	margin: 0px -10000px 0px 0px;
}

#u9624
{
	width: 591px;
	min-height: 17px;
	padding-bottom: 39px;
	position: relative;
	margin-right: -10000px;
}

#u9610.MuseMenuActive,#u9624:hover
{
	width: 591px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9624:active
{
	width: 591px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9626-4
{
	width: 591px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 19px;
}

#u9610.MuseMenuActive #u9612-4,#u9624:hover #u9626-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 591px;
	margin: 0px -10000px 0px 0px;
}

#u9624:active #u9626-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 591px;
	margin: 0px -10000px 0px 0px;
}

#u9623,#u9616
{
	width: 591px;
	margin-top: 2px;
	position: relative;
}

#u9617
{
	width: 591px;
	min-height: 17px;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
}

#u9624.MuseMenuActive,#u9617:hover
{
	width: 591px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9617:active
{
	width: 591px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9617.MuseMenuActive
{
	width: 591px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9618-4
{
	width: 591px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u9624.MuseMenuActive #u9626-4,#u9617:hover #u9618-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 591px;
	margin: 0px -10000px 0px 0px;
}

#u9617:active #u9618-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 591px;
	margin: 0px -10000px 0px 0px;
}

#u9617.MuseMenuActive #u9618-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 591px;
	margin: 0px -10000px 0px 0px;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 1619px);
}

.html
{
	background-color: #2AA5FF;
}

body
{
	position: relative;
	min-width: 320px;
	padding-top: 200px;
}

#u6144_img
{
	width: 100%;
}

