.version.index /* version checker */
{
	color: #0000E4;
	background-color: #AF389E;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	width: 100%;
	max-width: 1800px;
	margin-left: auto;
	margin-right: auto;
}

#u10452
{
	z-index: 35;
	width: 1751px;
	min-height: 884px;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	left: 22px;
}

#pu10462
{
	z-index: 36;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 64px;
	width: 11.39%;
	margin-left: 1.56%;
}

#u10462
{
	z-index: 36;
	width: 60px;
	min-height: 60px;
	position: relative;
}

#u10467
{
	z-index: 37;
	width: 50px;
	min-height: 25px;
	margin-top: 16px;
	position: relative;
	margin-left: 6.35%;
}

#u11180
{
	z-index: 160;
	min-height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 21px;
	position: relative;
	width: 97.57%;
	margin-left: 2.44%;
}

#pmenuu97
{
	z-index: 2;
	margin-right: -10000px;
	margin-top: 61px;
	width: 68.95%;
	margin-left: 15.45%;
}

#menuu97
{
	z-index: 2;
	position: relative;
	width: 99.92%;
}

#u98
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.84%;
}

#u101
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u101:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u101:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u102-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u101:hover #u102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u101:active #u102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u155
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.84%;
	left: 20%;
}

#u156
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u101.MuseMenuActive,#u156:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u156:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u157-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u101.MuseMenuActive #u102-4,#u156:hover #u157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u156:active #u157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u566
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.84%;
	left: 40%;
}

#u569
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u156.MuseMenuActive,#u569:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u569:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u571-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u156.MuseMenuActive #u157-4,#u569:hover #u571-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u569:active #u571-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1717
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.92%;
	left: 60%;
}

#u1718
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u569.MuseMenuActive,#u1718:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1718:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1719-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u569.MuseMenuActive #u571-4,#u1718:hover #u1719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1718:active #u1719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u10152
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.92%;
	left: 80.09%;
}

#u10155
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u1718.MuseMenuActive,#u10155:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u10155:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u10155.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u10157-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u1718.MuseMenuActive #u1719-4,#u10155:hover #u10157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u10155:active #u10157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u10155.MuseMenuActive #u10157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u94-71
{
	z-index: 38;
	min-height: 314px;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
	width: 99.92%;
	margin-left: 0.09%;
}

#u94-19,#u94-21
{
	font-weight: normal;
}

#u94-5,#u94-17,#u94-18,#u94-20,#u94-22,#u94-32
{
	font-weight: bold;
}

#pamphletu8180
{
	z-index: 109;
	width: 0.01px;
	height: 144px;
	position: fixed;
	top: 3px;
	right: 1232px;
}

#u8181
{
	position: absolute;
	width: 1159px;
}

#u8181popup
{
	z-index: 110;
}

#u8182
{
	z-index: 111;
	width: 1159px;
	height: 144px;
	margin-right: -10000px;
	position: relative;
}

#pbuttonu8187
{
	z-index: 140;
	width: 0.01px;
	margin-right: -10000px;
}

#buttonu8187
{
	z-index: 140;
	width: 185px;
	height: 143px;
	position: relative;
	margin-right: -10000px;
}

#u8188-4
{
	z-index: 141;
	width: 122px;
	min-height: 24px;
}

#pbuttonu8187:hover #u8188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 122px;
	margin-top: 60px;
	left: 32px;
	min-height: 24px;
}

#u8189
{
	z-index: 145;
	width: 17px;
}

#pbuttonu8187:hover #u8189
{
	position: relative;
	margin-right: -10000px;
	width: 17px;
	margin-top: -8px;
	left: 84px;
	min-height: 0px;
}

#pbuttonu8187:active #u8189
{
	width: 17px;
	min-height: 0px;
}

#pbuttonu8192
{
	z-index: 131;
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 186px;
}

#buttonu8192
{
	z-index: 131;
	width: 185px;
	height: 143px;
	position: relative;
	margin-right: -10000px;
}

#u8195-4
{
	z-index: 132;
	width: 122px;
	min-height: 24px;
}

#pbuttonu8192:hover #u8195-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 122px;
	margin-top: 60px;
	left: 32px;
	min-height: 24px;
}

#u8193
{
	z-index: 136;
	width: 17px;
}

#pbuttonu8192:hover #u8193
{
	position: relative;
	margin-right: -10000px;
	width: 17px;
	margin-top: -8px;
	left: 84px;
	min-height: 0px;
}

#pbuttonu8187.ButtonSelected #u8189,#pbuttonu8192:active #u8193
{
	width: 17px;
	min-height: 0px;
}

#pbuttonu8183
{
	z-index: 113;
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 372px;
}

#buttonu8183
{
	z-index: 113;
	width: 185px;
	height: 143px;
	position: relative;
	margin-right: -10000px;
}

#u8186-4
{
	z-index: 114;
	width: 122px;
	min-height: 24px;
}

#pbuttonu8183:hover #u8186-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 122px;
	margin-top: 60px;
	left: 32px;
	min-height: 24px;
}

#u8184
{
	z-index: 118;
	width: 17px;
}

#pbuttonu8183:hover #u8184
{
	position: relative;
	margin-right: -10000px;
	width: 17px;
	margin-top: -8px;
	left: 84px;
	min-height: 0px;
}

#pbuttonu8192.ButtonSelected #u8193,#pbuttonu8183:active #u8184
{
	width: 17px;
	min-height: 0px;
}

#pbuttonu8196
{
	z-index: 122;
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 558px;
}

#buttonu8196
{
	z-index: 122;
	width: 185px;
	height: 143px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu8187:hover #buttonu8187,#pbuttonu8192:hover #buttonu8192,#pbuttonu8183:hover #buttonu8183,#pbuttonu8196:hover #buttonu8196
{
	width: 186px;
	height: 143px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u8199-4
{
	z-index: 123;
	width: 122px;
	min-height: 24px;
}

#pbuttonu8196:hover #u8199-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 122px;
	margin-top: 60px;
	left: 32px;
	min-height: 24px;
}

#pbuttonu8187.ButtonSelected #u8188-4,#pbuttonu8192.ButtonSelected #u8195-4,#pbuttonu8183.ButtonSelected #u8186-4,#pbuttonu8196.ButtonSelected #u8199-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
}

#pbuttonu8187 #u8188-4,#pbuttonu8192 #u8195-4,#pbuttonu8183 #u8186-4,#pbuttonu8196 #u8199-4
{
	position: relative;
	margin-right: -10000px;
	width: 122px;
	margin-top: 60px;
	left: 31px;
}

#u8197
{
	z-index: 127;
	width: 17px;
}

#pbuttonu8196:hover #u8197
{
	position: relative;
	margin-right: -10000px;
	width: 17px;
	margin-top: -8px;
	left: 84px;
	min-height: 0px;
}

#pbuttonu8183.ButtonSelected #u8184,#pbuttonu8196:active #u8197
{
	width: 17px;
	min-height: 0px;
}

#pbuttonu8196.ButtonSelected #u8197
{
	width: 17px;
	min-height: 0px;
}

#pbuttonu8187 #u8189,#pbuttonu8192 #u8193,#pbuttonu8183 #u8184,#pbuttonu8196 #u8197
{
	position: relative;
	margin-right: -10000px;
	width: 17px;
	margin-top: -8px;
	left: 83px;
}

#u8191
{
	z-index: 148;
	width: 413px;
	height: 144px;
	position: relative;
	margin-right: -10000px;
	left: 746px;
}

#u8279-4
{
	z-index: 149;
	min-height: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	width: 17.26%;
	left: 80.16%;
}

#u8207
{
	z-index: 153;
	width: 72px;
	padding-bottom: 144px;
	position: relative;
	margin-right: -10000px;
	left: 1159px;
}

#u8208
{
	width: 72px;
	padding-bottom: 57px;
	position: fixed;
	top: 3px;
	right: 1px;
}

#u8208.PamphletThumbSelected
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u8209
{
	z-index: 155;
	width: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 16px;
}

#u8208.PamphletThumbSelected #u8209
{
	width: 39px;
	min-height: 0px;
	margin: 55px -10000px 0px 0px;
}

#u8209_img
{
	margin-right: -1px;
}

#u8204
{
	position: absolute;
	width: 72px;
	padding-bottom: 42px;
	left: 1159px;
}

#u8205
{
	z-index: 158;
	width: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 5px;
}

#u6144
{
	z-index: 33;
	position: relative;
	margin-right: -10000px;
	margin-top: -195px;
	width: 34.12%;
	left: 33.12%;
}

#u11184
{
	z-index: 161;
	min-height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 201px;
	width: 11.12%;
	left: 86.73%;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 1328px);
}

.html
{
	background-color: #2AA5FF;
}

body
{
	position: relative;
	min-width: 320px;
	padding-top: 200px;
}

#u6144_img
{
	width: 100%;
}

