.version.infantry_guides /* version checker */
{
	color: #0000F4;
	background-color: #127814;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 438px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 62px;
	width: 100%;
	max-width: 1800px;
	margin-left: auto;
	margin-right: auto;
}

#pu12000
{
	z-index: 40;
	margin-right: -10000px;
	margin-top: -137px;
	width: 99.73%;
	margin-left: 0.06%;
}

#u12000
{
	z-index: 40;
	position: relative;
	width: 100%;
}

#u6144
{
	z-index: 62;
	margin-bottom: -29px;
	position: relative;
	margin-right: -10000px;
	margin-top: -58px;
	width: 34.21%;
	left: 33.1%;
}

#u10462
{
	z-index: 33;
	width: 60px;
	min-height: 60px;
	margin-top: 104px;
	position: relative;
	margin-left: 1.51%;
}

#pu11993
{
	z-index: 34;
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -100px;
	margin-left: 89px;
}

#u11993
{
	z-index: 34;
	width: 250px;
	min-height: 31px;
	margin-left: 24px;
	position: relative;
}

#u11287
{
	z-index: 60;
	width: 40px;
	min-height: 40px;
	margin-top: 468px;
	position: relative;
}

#u2815-5
{
	z-index: 35;
	min-height: 514px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	width: 68.89%;
	left: 15.06%;
}

#u11956
{
	z-index: 61;
	width: 1239px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 278px;
}

#pmenuu97
{
	z-index: 2;
	margin-right: -10000px;
	margin-top: 61px;
	width: 68.89%;
	margin-left: 15.45%;
}

#menuu97
{
	z-index: 2;
	position: relative;
	width: 100%;
}

#u98
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.84%;
}

#u101
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u101:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u101:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u102-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u101:hover #u102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u101:active #u102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u155
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.84%;
	left: 20%;
}

#u156
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u101.MuseMenuActive,#u156:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u156:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u157-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u101.MuseMenuActive #u102-4,#u156:hover #u157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u156:active #u157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u566
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.84%;
	left: 40%;
}

#u569
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u156.MuseMenuActive,#u569:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u569:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u571-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u156.MuseMenuActive #u157-4,#u569:hover #u571-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u569:active #u571-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1717
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.92%;
	left: 60%;
}

#u1718
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u569.MuseMenuActive,#u1718:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1718:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1719-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u569.MuseMenuActive #u571-4,#u1718:hover #u1719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1718:active #u1719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u10152
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.92%;
	left: 80.09%;
}

#u10155
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u1718.MuseMenuActive,#u10155:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u10155:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u10155.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u10157-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u1718.MuseMenuActive #u1719-4,#u10155:hover #u10157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u10155:active #u10157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#menuu9690
{
	z-index: 41;
	margin-top: 106px;
	position: relative;
	width: 32.42%;
	margin-left: 33.8%;
}

#u9691
{
	position: relative;
	width: 100%;
}

#u9692
{
	min-height: 17px;
	padding-bottom: 41px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u9692:hover
{
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9692:active
{
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9694-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 20px;
	width: 100%;
}

#u10155.MuseMenuActive #u10157-4,#u9692:hover #u9694-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9692:active #u9694-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9706
{
	min-height: 17px;
	padding-bottom: 41px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u9692.MuseMenuActive,#u9706:hover
{
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9706:active
{
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9708-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 20px;
	width: 100%;
}

#u9692.MuseMenuActive #u9694-4,#u9706:hover #u9708-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9706:active #u9708-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9705,#u9698
{
	margin-top: 2px;
	position: relative;
	width: 100%;
}

#u9699
{
	min-height: 17px;
	padding-bottom: 41px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u9706.MuseMenuActive,#u9699:hover
{
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9699:active
{
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9699.MuseMenuActive
{
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9700-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 20px;
	width: 100%;
}

#u9706.MuseMenuActive #u9708-4,#u9699:hover #u9700-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9699:active #u9700-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9699.MuseMenuActive #u9700-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 890px);
}

.html
{
	background-color: #2AA5FF;
}

body
{
	position: relative;
	min-width: 320px;
	padding-top: 200px;
}

#u6144_img
{
	width: 100%;
}

