#menuu9444
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u9455
{
	background-color: #5B8EFF;
}

#u9455:hover
{
	background-color: #6DB2FF;
}

#u9455:active
{
	background-color: #0083E0;
}

#u9458-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	font-family: dosis, sans-serif;
	font-weight: 300;
}

#u9460
{
	background-color: #5B8EFF;
}

#u9460:hover
{
	background-color: #6DB2FF;
}

#u9460:active
{
	background-color: #0083E0;
}

#u9463-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	font-family: dosis, sans-serif;
	font-weight: 300;
}

#u9467
{
	background-color: #5B8EFF;
}

#u9467:hover
{
	background-color: #6DB2FF;
}

#u9467:active
{
	background-color: #0083E0;
}

#u9469-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	font-family: dosis, sans-serif;
	font-weight: 300;
}

#u9452,#u9459,#u9466,#u9445
{
	background-color: transparent;
}

#u9446
{
	background-color: #5B8EFF;
}

#u9446:hover
{
	background-color: #6DB2FF;
}

#u9446:active
{
	background-color: #0083E0;
}

#u9455.MuseMenuActive,#u9460.MuseMenuActive,#u9467.MuseMenuActive,#u9446.MuseMenuActive
{
	background-color: #0C94FF;
}

#u9447-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	font-family: dosis, sans-serif;
	font-weight: 300;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

