#u12000
{
	background-color: #2AA5FF;
}

#u10462,#u11993,#u11287,#u11956,#menuu97
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u101
{
	background-color: #3C82F8;
}

#u101:hover
{
	background-color: #00D0F2;
}

#u101:active
{
	background-color: #0047A9;
}

#u102-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u156
{
	background-color: #3C82F8;
}

#u156:hover
{
	background-color: #00D0F2;
}

#u156:active
{
	background-color: #0047A9;
}

#u157-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u569
{
	background-color: #3C82F8;
}

#u569:hover
{
	background-color: #00D0F2;
}

#u569:active
{
	background-color: #0047A9;
}

#u571-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u1718
{
	background-color: #3C82F8;
}

#u1718:hover
{
	background-color: #00D0F2;
}

#u1718:active
{
	background-color: #0047A9;
}

#u1719-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u6144,#u98,#u155,#u566,#u1717,#u10152
{
	background-color: transparent;
}

#u10155
{
	background-color: #3C82F8;
}

#u10155:hover
{
	background-color: #00D0F2;
}

#u10155:active
{
	background-color: #0047A9;
}

#u101.MuseMenuActive,#u156.MuseMenuActive,#u569.MuseMenuActive,#u1718.MuseMenuActive,#u10155.MuseMenuActive
{
	background-color: #B089FF;
}

#u10157-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

