#u10452,#u10462,#u11261,#menuu97
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u101
{
	background-color: #3C82F8;
}

#u101:hover
{
	background-color: #00D0F2;
}

#u101:active
{
	background-color: #0047A9;
}

#u102-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u156
{
	background-color: #3C82F8;
}

#u156:hover
{
	background-color: #00D0F2;
}

#u156:active
{
	background-color: #0047A9;
}

#u157-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u569
{
	background-color: #3C82F8;
}

#u569:hover
{
	background-color: #00D0F2;
}

#u569:active
{
	background-color: #0047A9;
}

#u571-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u1718
{
	background-color: #3C82F8;
}

#u1718:hover
{
	background-color: #00D0F2;
}

#u1718:active
{
	background-color: #0047A9;
}

#u1719-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u10155
{
	background-color: #3C82F8;
}

#u10155:hover
{
	background-color: #00D0F2;
}

#u10155:active
{
	background-color: #0047A9;
}

#u101.MuseMenuActive,#u156.MuseMenuActive,#u569.MuseMenuActive,#u1718.MuseMenuActive,#u10155.MuseMenuActive
{
	background-color: #B089FF;
}

#u10157-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u8182
{
	border-width: 0px;
	border-color: transparent;
	background-color: #EDEDED;
}

#buttonu8187
{
	border-style: solid;
	border-color: #D3D3D3;
	background-color: transparent;
	border-width: 0px 0px 0px 1px;
}

#u8188-4
{
	background-color: transparent;
	text-align: center;
}

#u8188-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8189
{
	border-width: 0px;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	-webkit-transform: matrix(0,-1,1,0,-8,25);
	-ms-transform: matrix(0,-1,1,0,-8,25);
	transform: matrix(0,-1,1,0,-8,25);
}

#u8189::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#u98,#u155,#u566,#u1717,#u10152,#u8181,#pbuttonu8187:hover #u8189
{
	background-color: transparent;
}

#pbuttonu8187:active #u8189
{
	background-color: transparent;
}

#buttonu8192
{
	border-style: solid;
	border-color: #D3D3D3;
	background-color: transparent;
	border-width: 0px 0px 0px 1px;
}

#u8195-4
{
	background-color: transparent;
	text-align: center;
}

#u8195-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8193
{
	border-width: 0px;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	-webkit-transform: matrix(0,-1,1,0,-8,25);
	-ms-transform: matrix(0,-1,1,0,-8,25);
	transform: matrix(0,-1,1,0,-8,25);
}

#u8193::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#pbuttonu8187.ButtonSelected #u8189,#pbuttonu8192:hover #u8193
{
	background-color: transparent;
}

#pbuttonu8192:active #u8193
{
	background-color: transparent;
}

#buttonu8183
{
	border-style: solid;
	border-color: #D3D3D3;
	background-color: transparent;
	border-width: 0px 0px 0px 1px;
}

#u8186-4
{
	background-color: transparent;
	text-align: center;
}

#u8186-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8184
{
	border-width: 0px;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	-webkit-transform: matrix(0,-1,1,0,-8,25);
	-ms-transform: matrix(0,-1,1,0,-8,25);
	transform: matrix(0,-1,1,0,-8,25);
}

#u8184::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#pbuttonu8192.ButtonSelected #u8193,#pbuttonu8183:hover #u8184
{
	background-color: transparent;
}

#pbuttonu8183:active #u8184
{
	background-color: transparent;
}

#buttonu8196
{
	border-style: solid;
	border-color: #D3D3D3;
	background-color: transparent;
	border-width: 0px 0px 0px 1px;
}

#pbuttonu8187:hover #buttonu8187,#pbuttonu8192:hover #buttonu8192,#pbuttonu8183:hover #buttonu8183,#pbuttonu8196:hover #buttonu8196
{
	border-width: 0px;
	border-color: transparent;
	background-color: #D4BFE1;
}

#u8199-4
{
	background-color: transparent;
	text-align: center;
}

#u8199-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8188,#u8195,#u8186,#u8199
{
	line-height: 19px;
}

#u8197
{
	border-width: 0px;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	-webkit-transform: matrix(0,-1,1,0,-8,25);
	-ms-transform: matrix(0,-1,1,0,-8,25);
	transform: matrix(0,-1,1,0,-8,25);
}

#u8197::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#pbuttonu8183.ButtonSelected #u8184,#pbuttonu8196:hover #u8197
{
	background-color: transparent;
}

#pbuttonu8196:active #u8197
{
	background-color: transparent;
}

#u8191
{
	border-width: 0px;
	border-color: transparent;
	background-color: #36ACFF;
}

#u8279-4
{
	background-color: transparent;
	color: #0068FF;
	line-height: 38px;
	font-size: 32px;
	font-family: dosis, sans-serif;
	font-weight: 300;
}

#u8208
{
	border-width: 0px;
	border-color: transparent;
	background-color: #8773A2;
}

#pbuttonu8196.ButtonSelected #u8197,#u8209
{
	background-color: transparent;
}

#u8204
{
	border-width: 0px;
	border-color: transparent;
	background-color: #8773A2;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u8205,#u6144
{
	background-color: transparent;
}


