#menuu9690
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u9692
{
	background-color: #689CFF;
}

#u9692:hover
{
	background-color: #307CFF;
}

#u9692:active
{
	background-color: #0067C2;
}

#u9694-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u9706
{
	background-color: #689CFF;
}

#u9706:hover
{
	background-color: #307CFF;
}

#u9706:active
{
	background-color: #0067C2;
}

#u9708-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u9691,#u9705,#u9698
{
	background-color: transparent;
}

#u9699
{
	background-color: #689CFF;
}

#u9699:hover
{
	background-color: #307CFF;
}

#u9699:active
{
	background-color: #0067C2;
}

#u9692.MuseMenuActive,#u9706.MuseMenuActive,#u9699.MuseMenuActive
{
	background-color: #0071BC;
}

#u9700-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

