#buttonu12249
{
	border-color: #787878;
	background-color: #F7931E;
	border-radius: 10px;
}

#buttonu12249:hover
{
	background-color: #545454;
}

#buttonu12249.ButtonSelected
{
	background-color: #F7931E;
}

#u12250-4
{
	background-color: transparent;
	color: #3C3C3C;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#buttonu12249:hover #u12250-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu12237
{
	border-color: #787878;
	background-color: #00A2FF;
	border-radius: 10px;
}

#buttonu12237:hover
{
	background-color: #545454;
}

#buttonu12237.ButtonSelected
{
	background-color: #00A2FF;
}

#u12238-4
{
	background-color: transparent;
	color: #3C3C3C;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#buttonu12237:hover #u12238-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu12083
{
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 10px;
}

#buttonu12083:hover
{
	background-color: #545454;
}

#u12085
{
	border-color: #000000;
	background-color: #545454;
	border-radius: 100px;
}

#buttonu12083:hover #u12085
{
	background-color: #FFFFFF;
}

#u12131
{
	background-color: transparent;
}

#u12084-4
{
	background-color: transparent;
	color: #3C3C3C;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#buttonu12083:hover #u12084-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu12092
{
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 10px;
}

#buttonu12083.ButtonSelected #u12085,#buttonu12092:hover
{
	background-color: #545454;
}

#buttonu12083.ButtonSelected,#buttonu12092.ButtonSelected
{
	background-color: #CACACA;
}

#u12094
{
	border-color: #000000;
	background-color: #545454;
	border-radius: 100px;
}

#buttonu12092:hover #u12094
{
	background-color: #FFFFFF;
}

#buttonu12092.ButtonSelected #u12094
{
	background-color: #545454;
}

#u12143
{
	background-color: transparent;
}

#u12093-4
{
	background-color: transparent;
	color: #3C3C3C;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#buttonu12092:hover #u12093-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu12249.ButtonSelected #u12250-4 p,#buttonu12237.ButtonSelected #u12238-4 p,#buttonu12083.ButtonSelected #u12084-4 p,#buttonu12092.ButtonSelected #u12093-4 p
{
	color: #3C3C3C;
	visibility: inherit;
}


