#menuu9608
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u9610
{
	background-color: #5B8EFF;
}

#u9610:hover
{
	background-color: #999999;
}

#u9610:active
{
	background-color: #6B6B6B;
}

#u9612-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u9624
{
	background-color: #5B8EFF;
}

#u9610.MuseMenuActive,#u9624:hover
{
	background-color: #999999;
}

#u9624:active
{
	background-color: #6B6B6B;
}

#u9626-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u9609,#u9623,#u9616
{
	background-color: transparent;
}

#u9617
{
	background-color: #5B8EFF;
}

#u9624.MuseMenuActive,#u9617:hover
{
	background-color: #999999;
}

#u9617:active
{
	background-color: #6B6B6B;
}

#u9617.MuseMenuActive
{
	background-color: #999999;
}

#u9618-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

