#menuu9547
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u9556
{
	background-color: #8C6DFF;
}

#u9556:hover
{
	background-color: #999999;
}

#u9556:active
{
	background-color: #6B6B6B;
}

#u9557-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u9555,#u9548
{
	background-color: transparent;
}

#u9551
{
	background-color: #8C6DFF;
}

#u9556.MuseMenuActive,#u9551:hover
{
	background-color: #999999;
}

#u9551:active
{
	background-color: #6B6B6B;
}

#u9551.MuseMenuActive
{
	background-color: #999999;
}

#u9552-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

