#menuu9608
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u9610
{
	background-color: #5B8EFF;
}

#u9610:hover
{
	background-color: #0C94FF;
}

#u9610:active
{
	background-color: #2A55FF;
}

#u9612-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u9624
{
	background-color: #5B8EFF;
}

#u9624:hover
{
	background-color: #0C94FF;
}

#u9624:active
{
	background-color: #2A55FF;
}

#u9626-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u9617
{
	background-color: #5B8EFF;
}

#u9617:hover
{
	background-color: #0C94FF;
}

#u9617:active
{
	background-color: #2A55FF;
}

#u9618-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u12181
{
	background-color: #5B8EFF;
}

#u12181:hover
{
	background-color: #0C94FF;
}

#u12181:active
{
	background-color: #2A55FF;
}

#u12184-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u9609,#u9623,#u9616,#u12180,#u12209
{
	background-color: transparent;
}

#u12210
{
	background-color: #5B8EFF;
}

#u12210:hover
{
	background-color: #0C94FF;
}

#u12210:active
{
	background-color: #2A55FF;
}

#u9610.MuseMenuActive,#u9624.MuseMenuActive,#u9617.MuseMenuActive,#u12181.MuseMenuActive,#u12210.MuseMenuActive
{
	background-color: #67A7FF;
}

#u12211-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

