#menuu9962
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u9980
{
	background-color: #5B8EFF;
}

#u9980:hover
{
	background-color: #008AE0;
}

#u9980:active
{
	background-color: #2A72FF;
}

#u9981-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u9964
{
	background-color: #5B8EFF;
}

#u9964:hover
{
	background-color: #008AE0;
}

#u9964:active
{
	background-color: #2A72FF;
}

#u9965-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u9977,#u9963,#u9970
{
	background-color: transparent;
}

#u9973
{
	background-color: #5B8EFF;
}

#u9973:hover
{
	background-color: #008AE0;
}

#u9973:active
{
	background-color: #2A72FF;
}

#u9980.MuseMenuActive,#u9964.MuseMenuActive,#u9973.MuseMenuActive
{
	background-color: #85A1FF;
}

#u9974-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

