.version.pirating /* version checker */
{
	color: #000006;
	background-color: #9C7EA2;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 438px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 62px;
	width: 100%;
	max-width: 1800px;
	margin-left: auto;
	margin-right: auto;
}

#pu12000
{
	z-index: 88;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -142px;
	width: 99.73%;
	margin-left: 0.45%;
}

#u12000
{
	z-index: 88;
	position: relative;
	width: 100%;
}

#u6144
{
	z-index: 104;
	margin-bottom: -34px;
	position: relative;
	margin-right: -10000px;
	margin-top: -53px;
	width: 34.21%;
	left: 32.76%;
}

#u10462
{
	z-index: 33;
	width: 60px;
	min-height: 60px;
	margin-top: 109px;
	position: relative;
	margin-left: 1.12%;
}

#pu11993
{
	z-index: 34;
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -100px;
	margin-left: 89px;
}

#u11993
{
	z-index: 34;
	width: 250px;
	min-height: 31px;
	margin-left: 24px;
	position: relative;
}

#u11956
{
	z-index: 103;
	width: 1239px;
	min-height: 40px;
	margin-left: 190px;
	margin-top: 79px;
	position: relative;
}

#u11287
{
	z-index: 102;
	width: 40px;
	min-height: 40px;
	margin-top: 349px;
	position: relative;
}

#pmenuu97
{
	z-index: 2;
	margin-right: -10000px;
	margin-top: 61px;
	width: 69%;
	margin-left: 15.34%;
}

#menuu97
{
	z-index: 2;
	position: relative;
	width: 99.84%;
	margin-left: 0.17%;
}

#u98
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.84%;
}

#u101
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u101:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u101:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u102-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u101:hover #u102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u101:active #u102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u155
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.84%;
	left: 20%;
}

#u156
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u101.MuseMenuActive,#u156:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u156:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u157-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u101.MuseMenuActive #u102-4,#u156:hover #u157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u156:active #u157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u566
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.84%;
	left: 40%;
}

#u569
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u156.MuseMenuActive,#u569:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u569:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u571-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u156.MuseMenuActive #u157-4,#u569:hover #u571-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u569:active #u571-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1717
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.92%;
	left: 60%;
}

#u1718
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u569.MuseMenuActive,#u1718:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1718:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1719-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u569.MuseMenuActive #u571-4,#u1718:hover #u1719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1718:active #u1719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u10152
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.92%;
	left: 80.09%;
}

#u10155
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u1718.MuseMenuActive,#u10155:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u10155:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u10155.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u10157-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u1718.MuseMenuActive #u1719-4,#u10155:hover #u10157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u10155:active #u10157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#pu2266-53
{
	z-index: 35;
	margin-top: 23px;
	width: 99.84%;
}

#u2266-53
{
	z-index: 35;
	min-height: 442px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#menuu9547
{
	z-index: 89;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	width: 46.54%;
	left: 27.18%;
}

#u9555
{
	position: relative;
	width: 100%;
}

#u9556
{
	min-height: 17px;
	padding-bottom: 34px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u9556:hover
{
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9556:active
{
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9557-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 17px;
	width: 100%;
}

#u10155.MuseMenuActive #u10157-4,#u9556:hover #u9557-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9556:active #u9557-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9548
{
	margin-top: 2px;
	position: relative;
	width: 100%;
}

#u9551
{
	min-height: 17px;
	padding-bottom: 34px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u9556.MuseMenuActive,#u9551:hover
{
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9551:active
{
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9551.MuseMenuActive
{
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9552-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 17px;
	width: 100%;
}

#u9556.MuseMenuActive #u9557-4,#u9551:hover #u9552-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9551:active #u9552-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9551.MuseMenuActive #u9552-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 1058px);
}

.html
{
	background-color: #2AA5FF;
}

body
{
	position: relative;
	min-width: 320px;
	padding-top: 200px;
}

#u6144_img
{
	width: 100%;
}

