.version.rainbow_six /* version checker */
{
	color: #000018;
	background-color: #5FB1CA;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 478px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 22px;
	width: 100%;
	max-width: 1800px;
	margin-left: auto;
	margin-right: auto;
}

#pu12000
{
	z-index: 49;
	margin-right: -10000px;
	margin-top: -137px;
	width: 99.73%;
	margin-left: 0.06%;
}

#u12000
{
	z-index: 49;
	position: relative;
	width: 100%;
}

#u6144
{
	z-index: 52;
	margin-bottom: -29px;
	position: relative;
	margin-right: -10000px;
	margin-top: -58px;
	width: 34.21%;
	left: 33.1%;
}

#u10462
{
	z-index: 33;
	width: 60px;
	min-height: 60px;
	margin-top: 104px;
	position: relative;
	margin-left: 1.51%;
}

#pu11993
{
	z-index: 34;
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -100px;
	margin-left: 89px;
}

#u11993
{
	z-index: 34;
	width: 250px;
	min-height: 31px;
	margin-left: 24px;
	position: relative;
}

#u11956
{
	z-index: 51;
	width: 1239px;
	min-height: 40px;
	margin-left: 190px;
	margin-top: 79px;
	position: relative;
}

#u11287
{
	z-index: 50;
	width: 40px;
	min-height: 40px;
	margin-top: 349px;
	position: relative;
}

#pmenuu97
{
	z-index: 2;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 61px;
	width: 68.89%;
	margin-left: 15.39%;
}

#menuu97
{
	z-index: 2;
	position: relative;
	width: 100%;
}

#u98
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.84%;
}

#u101
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u101:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u101:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u102-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u101:hover #u102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u101:active #u102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u155
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.84%;
	left: 20%;
}

#u156
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u101.MuseMenuActive,#u156:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u156:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u157-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u101.MuseMenuActive #u102-4,#u156:hover #u157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u156:active #u157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u566
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.84%;
	left: 40%;
}

#u569
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u156.MuseMenuActive,#u569:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u569:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u571-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u156.MuseMenuActive #u157-4,#u569:hover #u571-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u569:active #u571-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1717
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.92%;
	left: 60%;
}

#u1718
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u569.MuseMenuActive,#u1718:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1718:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1719-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u569.MuseMenuActive #u571-4,#u1718:hover #u1719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1718:active #u1719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u10152
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.92%;
	left: 80.09%;
}

#u10155
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u1718.MuseMenuActive,#u10155:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u10155:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u10155.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u10157-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u1718.MuseMenuActive #u1719-4,#u10155:hover #u10157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u10155:active #u10157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u10155.MuseMenuActive #u10157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#pbuttonu12249
{
	z-index: 35;
	margin-top: 7px;
	width: 100%;
}

#buttonu12249
{
	z-index: 35;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	width: 15.09%;
	left: 80.65%;
}

#buttonu12249:hover
{
	min-height: 0px;
	width: 15.09%;
	margin: 48px -10000px 0px 0%;
}

#buttonu12249.ButtonSelected
{
	min-height: 0px;
	width: 15.09%;
	margin: 48px -10000px 0px 0%;
}

#u12250-4
{
	z-index: 36;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	width: 63.64%;
	left: 18.19%;
}

#buttonu12249:hover #u12250-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 63.64%;
	margin: 10px -10000px 0px 0%;
}

#buttonu12237
{
	z-index: 40;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	width: 15.09%;
	left: 4.52%;
}

#buttonu12237:hover
{
	min-height: 0px;
	width: 15.09%;
	margin: 37px -10000px 0px 0%;
}

#buttonu12237.ButtonSelected
{
	min-height: 0px;
	width: 15.09%;
	margin: 37px -10000px 0px 0%;
}

#u12238-4
{
	z-index: 41;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	width: 63.64%;
	left: 18.19%;
}

#buttonu12249.ButtonSelected #u12250-4,#buttonu12237:hover #u12238-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 63.64%;
	margin: 10px -10000px 0px 0%;
}

#buttonu12237.ButtonSelected #u12238-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 63.64%;
	margin: 10px -10000px 0px 0%;
}

#u12058-4
{
	z-index: 45;
	min-height: 397px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu12083
{
	z-index: 54;
	position: relative;
	margin-right: -10000px;
	margin-top: 79px;
	width: 18.55%;
	left: 0.97%;
}

#buttonu12083:hover
{
	min-height: 0px;
	width: 18.55%;
	margin: 79px -10000px 0px 0%;
}

#buttonu12083.ButtonSelected
{
	min-height: 0px;
	width: 18.55%;
	margin: 79px -10000px 0px 0%;
}

#pu12085
{
	z-index: 59;
	margin-right: -10000px;
	margin-top: 3px;
	width: 28.7%;
	margin-left: 8.27%;
}

#u12085
{
	z-index: 59;
	height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	width: 27.28%;
	left: 48.49%;
}

#buttonu12083:hover #u12085
{
	height: 17px;
	min-height: 0px;
	width: 27.28%;
	margin: 14px -10000px 0px 0%;
}

#buttonu12083.ButtonSelected #u12085
{
	height: 17px;
	min-height: 0px;
	width: 27.28%;
	margin: 14px -10000px 0px 0%;
}

#u12131
{
	z-index: 60;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu12083:hover #u12131
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u12084-4
{
	z-index: 55;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	width: 51.74%;
	left: 42.61%;
}

#buttonu12083:hover #u12084-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 51.74%;
	margin: 18px -10000px 0px 0%;
}

#buttonu12083.ButtonSelected #u12084-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 51.74%;
	margin: 18px -10000px 0px 0%;
}

#buttonu12092
{
	z-index: 62;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	width: 18.55%;
	left: 80.97%;
}

#buttonu12092:hover
{
	min-height: 0px;
	width: 18.55%;
	margin: 93px -10000px 0px 0%;
}

#buttonu12092.ButtonSelected
{
	min-height: 0px;
	width: 18.55%;
	margin: 93px -10000px 0px 0%;
}

#pu12094
{
	z-index: 67;
	margin-right: -10000px;
	margin-top: 2px;
	width: 20.87%;
	margin-left: 11.31%;
}

#u12094
{
	z-index: 67;
	height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	width: 37.5%;
	left: 52.09%;
}

#buttonu12092:hover #u12094
{
	height: 17px;
	min-height: 0px;
	width: 37.5%;
	margin: 15px -10000px 0px 0%;
}

#buttonu12092.ButtonSelected #u12094
{
	height: 17px;
	min-height: 0px;
	width: 37.5%;
	margin: 15px -10000px 0px 0%;
}

#u12143
{
	z-index: 68;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu12083.ButtonSelected #u12131,#buttonu12092:hover #u12143
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#buttonu12092.ButtonSelected #u12143
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u12093-4
{
	z-index: 63;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	width: 51.74%;
	left: 40%;
}

#buttonu12092:hover #u12093-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 51.74%;
	margin: 15px -10000px 0px 0%;
}

#buttonu12092.ButtonSelected #u12093-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 51.74%;
	margin: 15px -10000px 0px 0%;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 720px);
}

.html
{
	background-color: #2AA5FF;
}

body
{
	position: relative;
	min-width: 320px;
	padding-top: 200px;
}

#u6144_img,#u12131_img,#u12143_img
{
	width: 100%;
}

