.version.science /* version checker */
{
	color: #0000F2;
	background-color: #E3D095;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 438px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 62px;
	width: 100%;
	max-width: 1800px;
	margin-left: auto;
	margin-right: auto;
}

#pu12000
{
	z-index: 78;
	margin-right: -10000px;
	margin-top: -137px;
	width: 99.73%;
	margin-left: 0.06%;
}

#u12000
{
	z-index: 78;
	position: relative;
	width: 100%;
}

#u6144
{
	z-index: 106;
	margin-bottom: -29px;
	position: relative;
	margin-right: -10000px;
	margin-top: -58px;
	width: 34.21%;
	left: 33.1%;
}

#u10462
{
	z-index: 33;
	width: 60px;
	min-height: 60px;
	margin-top: 104px;
	position: relative;
	margin-left: 1.51%;
}

#pu11993
{
	z-index: 34;
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -100px;
	margin-left: 89px;
}

#u11993
{
	z-index: 34;
	width: 250px;
	min-height: 31px;
	margin-left: 24px;
	position: relative;
}

#u11956
{
	z-index: 105;
	width: 1239px;
	min-height: 40px;
	margin-left: 190px;
	margin-top: 79px;
	position: relative;
}

#u11287
{
	z-index: 104;
	width: 40px;
	min-height: 40px;
	margin-top: 349px;
	position: relative;
}

#pmenuu97
{
	z-index: 2;
	margin-right: -10000px;
	margin-top: 61px;
	width: 68.95%;
	margin-left: 15.39%;
}

#menuu97
{
	z-index: 2;
	position: relative;
	width: 99.92%;
	margin-left: 0.09%;
}

#u98
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.84%;
}

#u101
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u101:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u101:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u102-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u101:hover #u102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u101:active #u102-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u155
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.84%;
	left: 20%;
}

#u156
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u101.MuseMenuActive,#u156:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u156:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u157-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u101.MuseMenuActive #u102-4,#u156:hover #u157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u156:active #u157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u566
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.84%;
	left: 40%;
}

#u569
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u156.MuseMenuActive,#u569:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u569:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u571-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u156.MuseMenuActive #u157-4,#u569:hover #u571-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u569:active #u571-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1717
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.92%;
	left: 60%;
}

#u1718
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u569.MuseMenuActive,#u1718:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1718:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u1719-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u569.MuseMenuActive #u571-4,#u1718:hover #u1719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u1718:active #u1719-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u10152
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 19.92%;
	left: 80.09%;
}

#u10155
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u1718.MuseMenuActive,#u10155:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u10155:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u10155.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u10157-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u1718.MuseMenuActive #u1719-4,#u10155:hover #u10157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u10155:active #u10157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u10155.MuseMenuActive #u10157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#pu8331-43
{
	z-index: 35;
	margin-top: 10px;
	width: 99.92%;
}

#u8331-43
{
	z-index: 35;
	min-height: 592px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#menuu9444
{
	z-index: 79;
	position: relative;
	margin-right: -10000px;
	margin-top: 148px;
	width: 47.67%;
	left: 26.46%;
}

#u9452
{
	position: relative;
	width: 100%;
}

#u9455
{
	min-height: 18px;
	padding-bottom: 25px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u9455:hover
{
	min-height: 18px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9455:active
{
	min-height: 18px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9458-4
{
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
	width: 100%;
}

#u9455:hover #u9458-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9455:active #u9458-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9460
{
	min-height: 18px;
	padding-bottom: 25px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u9455.MuseMenuActive,#u9460:hover
{
	min-height: 18px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9460:active
{
	min-height: 18px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9463-4
{
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
	width: 100%;
}

#u9455.MuseMenuActive #u9458-4,#u9460:hover #u9463-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9460:active #u9463-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9467
{
	min-height: 18px;
	padding-bottom: 25px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u9460.MuseMenuActive,#u9467:hover
{
	min-height: 18px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9467:active
{
	min-height: 18px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9469-4
{
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
	width: 100%;
}

#u9460.MuseMenuActive #u9463-4,#u9467:hover #u9469-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9467:active #u9469-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9459,#u9466,#u9445
{
	margin-top: 2px;
	position: relative;
	width: 100%;
}

#u9446
{
	min-height: 18px;
	padding-bottom: 25px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u9467.MuseMenuActive,#u9446:hover
{
	min-height: 18px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9446:active
{
	min-height: 18px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9446.MuseMenuActive
{
	min-height: 18px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9447-4
{
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
	width: 100%;
}

#u9467.MuseMenuActive #u9469-4,#u9446:hover #u9447-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9446:active #u9447-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9446.MuseMenuActive #u9447-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 957px);
}

.html
{
	background-color: #2AA5FF;
}

body
{
	position: relative;
	min-width: 320px;
	padding-top: 200px;
}

#u6144_img
{
	width: 100%;
}

