.version.english_cheats /* version checker */
{
	color: #000011;
	background-color: #1386F0;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 570px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	width: 100%;
	max-width: 380px;
}

#page_position_content
{
	margin-top: -120px;
	padding-bottom: 71px;
	width: 100%;
}

#pu6166
{
	z-index: 21;
	width: 100%;
}

#u6166
{
	z-index: 21;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	width: 85.79%;
	left: 6.85%;
}

#u10488
{
	z-index: 23;
	width: 60px;
	min-height: 60px;
	position: relative;
	margin-right: -10000px;
	left: 1.06%;
}

#menuu4405
{
	z-index: 2;
	min-height: 34px;
}

#u4406
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 32.9%;
}

#u4409
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u4409:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u4409:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u4410-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u4409:hover #u4410-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u4409:active #u4410-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u4413
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 32.9%;
	left: 33.43%;
}

#u4416
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u4409.MuseMenuActive,#u4416:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u4416:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u4419-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u4409.MuseMenuActive #u4410-4,#u4416:hover #u4419-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u4416:active #u4419-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u4479
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 33.16%;
	left: 66.85%;
}

#u4482
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u4416.MuseMenuActive,#u4482:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u4482:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u4482.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u4485-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u4416.MuseMenuActive #u4419-4,#u4482:hover #u4485-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u4482:active #u4485-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#menuu4405-bw
{
	z-index: 2;
	min-height: 34px;
	margin-top: 35px;
}

#pu5007-229
{
	z-index: 24;
	margin-top: 16px;
	width: 100%;
}

#u5007-229
{
	z-index: 24;
	min-height: 457px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 98.69%;
	left: 1.32%;
}

#u5007-27
{
	font-weight: bold;
}

#u5007-58
{
	font-size: 16px;
	font-weight: bold;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5007-56
{
	font-size: 14px;
	font-weight: normal;
	line-height: 17px;
}

#u5007-26,#u5007-54,#u5007-55,#u5007-97
{
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
}

#u5007-118
{
	font-size: 14px;
	font-weight: normal;
}

#menuu9034
{
	z-index: 253;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	width: 47.37%;
	left: 26.06%;
}

#u9035
{
	background-color: transparent;
	position: relative;
	width: 100%;
}

#u9038
{
	min-height: 17px;
	background-color: #3696FF;
	padding-bottom: 19px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u9038:hover
{
	background-color: #999999;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9040-4
{
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	width: 100%;
}

#u4482.MuseMenuActive #u4485-4,#u9038:hover #u9040-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9038:active #u9040-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9052
{
	min-height: 17px;
	background-color: #3696FF;
	padding-bottom: 19px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u9052:hover
{
	background-color: #999999;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9054-4
{
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	width: 100%;
}

#u9038.MuseMenuActive #u9040-4,#u9052:hover #u9054-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9052:active #u9054-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9045
{
	min-height: 17px;
	background-color: #3696FF;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	width: 100%;
	left: 0%;
}

#u9045.MuseMenuActive
{
	background-color: #3C6EFF;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9046-4
{
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	width: 100%;
	left: 0%;
}

#u9052.MuseMenuActive #u9054-4,#u9045:hover #u9046-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9045:active #u9046-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9049,#u9042,#u9056
{
	background-color: transparent;
	margin-top: 2px;
	position: relative;
	width: 100%;
}

#u9059
{
	min-height: 17px;
	background-color: #3696FF;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u9059:hover
{
	background-color: #999999;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9038:active,#u9052:active,#u9059:active
{
	background-color: #6B6B6B;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9060-4
{
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	width: 100%;
}

#u9045.MuseMenuActive #u9046-4,#u9059:hover #u9060-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9059:active #u9060-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u9059.MuseMenuActive #u9060-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 2775px);
}

.html
{
	background-color: #61B5FF;
}

body
{
	position: relative;
	min-width: 320px;
	padding-top: 126px;
}

#u6166_img
{
	width: 100%;
}

