.version.spanish_cheats /* version checker */
{
	color: #000003;
	background-color: #6EA423;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 570px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	width: 100%;
	max-width: 380px;
}

#page_position_content
{
	margin-top: -116px;
	padding-bottom: 71px;
	width: 100%;
}

#u6166
{
	z-index: 21;
	position: relative;
	width: 85.79%;
	margin-left: 6.85%;
}

#menuu4405
{
	z-index: 2;
	min-height: 34px;
}

#u4406
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 32.9%;
}

#u4409
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u4409:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u4409:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u4410-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u4409:hover #u4410-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u4409:active #u4410-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u4413
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 32.9%;
	left: 33.43%;
}

#u4416
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u4409.MuseMenuActive,#u4416:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u4416:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u4419-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u4409.MuseMenuActive #u4410-4,#u4416:hover #u4419-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u4416:active #u4419-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u4479
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 33.16%;
	left: 66.85%;
}

#u4482
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u4416.MuseMenuActive,#u4482:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u4482:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u4482.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u4485-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u4416.MuseMenuActive #u4419-4,#u4482:hover #u4485-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u4482:active #u4485-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#menuu4405-bw
{
	z-index: 2;
	min-height: 34px;
	margin-top: 35px;
}

#pu4402-363
{
	z-index: 23;
	margin-top: 16px;
	width: 100%;
}

#u4402-363
{
	z-index: 23;
	min-height: 445px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 97.37%;
	left: 1.06%;
}

#u4402-119
{
	text-decoration: underline;
}

#menuu8947
{
	z-index: 386;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 79px;
	width: 47.37%;
	left: 26.32%;
}

#u8948
{
	background-color: transparent;
	position: relative;
	width: 100%;
}

#u8951
{
	min-height: 17px;
	background-color: #3696FF;
	padding-bottom: 19px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u8951:hover
{
	background-color: #999999;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u8953-4
{
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	width: 100%;
}

#u4482.MuseMenuActive #u4485-4,#u8951:hover #u8953-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u8951:active #u8953-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u8965
{
	min-height: 17px;
	background-color: #3696FF;
	padding-bottom: 19px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u8965:hover
{
	background-color: #999999;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u8967-4
{
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	width: 100%;
}

#u8951.MuseMenuActive #u8953-4,#u8965:hover #u8967-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u8965:active #u8967-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u8958
{
	min-height: 17px;
	background-color: #3696FF;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u8958:hover
{
	background-color: #999999;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u8951:active,#u8965:active,#u8958:active
{
	background-color: #6B6B6B;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u8959-4
{
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	width: 100%;
}

#u8965.MuseMenuActive #u8967-4,#u8958:hover #u8959-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u8958:active #u8959-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u8962,#u8955,#u8969
{
	background-color: transparent;
	margin-top: 2px;
	position: relative;
	width: 100%;
}

#u8972
{
	min-height: 17px;
	background-color: #3696FF;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	width: 100%;
	left: 0%;
}

#u8972.MuseMenuActive
{
	background-color: #3C6EFF;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u8973-4
{
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	width: 100%;
	left: 0%;
}

#u8958.MuseMenuActive #u8959-4,#u8972:hover #u8973-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u8972:active #u8973-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u8972.MuseMenuActive #u8973-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 4586px);
}

.html
{
	background-color: #61B5FF;
}

body
{
	position: relative;
	min-width: 320px;
	padding-top: 126px;
}

#u6166_img
{
	width: 100%;
}

